name: Deploy to WordPress.org
on:
    push:
        tags:
          - "*"
        branches:
          - master
jobs:
    tag:
        name: New Release
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: WordPress Plugin Deploy
              id: deploy
              uses: 10up/action-wordpress-plugin-deploy@stable
              env:
                  SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
                  SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
                  SLUG: wc-update-all-prices-to-excl-vat
                  VERSION: 1.0.0
